.task5-2{ background:url("task5-2.png") top left no-repeat; }
.task5-2_r6_c4{ width:19px; height:33px; background-position:-10px -10px; }
.task5-2_r2_c2{ width:24px; height:24px; background-position:-10px -53px; }
.task5-2_r4_c3{ width:19px; height:23px; background-position:-10px -87px; }

