._21{ background:url("21.png") top left no-repeat; }
.技能树首页_r4_c15{ width:132px; height:74px; background-position:-10px -10px; }
.技能树首页_r4_c11{ width:123px; height:74px; background-position:-10px -94px; }
.技能树首页_r4_c7{ width:127px; height:74px; background-position:-10px -178px; }
.技能树首页_r5_c3{ width:74px; height:74px; background-position:-10px -262px; }
.技能树首页_r2_c14{ width:132px; height:74px; background-position:-10px -346px; }
.技能树首页_r2_c10{ width:123px; height:74px; background-position:-10px -430px; }
.技能树首页_r2_c2{ width:74px; height:74px; background-position:-10px -514px; }
.技能树首页_r2_c6{ width:127px; height:74px; background-position:-10px -598px; }

