html body{
    width:100%;
    height: 100%;
    font-size: 62.5%;
}
.head-1{
    padding:0;
    display: flex;
    justify-content: space-around;
    color:#29b078;
}
.head-1 p{
    padding: 1% 0;
}
.head-2{
    padding: 1% 0;
}
.icon-1{
    background: url("../images/14.png") no-repeat;
    width:25px;
    height: 24px;
    background-position:-45px -243px;
    outline: none;
    border: none;
}
.icon-2{
    background: url("../images/14.png") no-repeat;
    width:25px;
    height: 24px;
    background-position:-10px -277px;
    outline: none;
    border: none;
}
.icon-3{
    background: url("../images/14.png") no-repeat;
    width:25px;
    height: 24px;
    background-position:-10px -243px;
    outline: none;
    border: none;
}
.navbar-header img{
    padding: 1.4rem 0;
}

.nav-1{
    background-color: #29b078;
}

.nav-2>ul>li{
    padding: 1rem;
    font-size:2rem;
}
.underline{
    border-top: 0.5rem solid #29b078;
    border-bottom: 0.5rem solid #29b078;

}
.underline:hover{
    border-bottom: 0.5rem solid white;
}
.hd{
    padding:2rem 0;
    border-bottom: 1px solid #a9a9a9;
}
.home-page{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5rem;
}
.nav-3{
    background-color: white;
    padding: 1.5rem 0;
    border:none;
    margin:0;
}
.direction{
    border-bottom: 1px solid #dedede;
}
.p-1{
    font-size: 1.5rem;
}
.p-2{
    font-size: 1.5rem;
}
.p-2:hover{
    background-color: #29b078;
}
.front-end{
    padding:2rem 0;
    border-bottom: 1px solid #999999;
}
.head-photo{
    float: left;
    padding: 1rem;
}
.engineer p{
    font-size: 1.3rem;
}
.years{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.color-1{
    color: #b0b0b0;
    display: table-cell;
}
.color-2{
    color: #b0b0b0;
}
.main-1{
    border: 1px solid black;
}
.money{
    float: right;
}
.col-md-4{
    margin-top: 4%;
}
.hover-select{
    position:relative;
}
.boxhover{
    font-size:1.5rem;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    text-align: center;
    padding:20% 10%;
    display: none;
}
.p-3{
    text-align: left;
    margin-top: 10%;
}

.hover-select:hover .boxhover{
    display: block;
    background: rgba(0,0,0,0.5)
}

.foot{
    background-color: #29b078;
    margin-top: 10%;
}
.code{
    background: url("../images/6.gif") no-repeat;
    width: 92px;
    height: 92px;
}
.main-10{
    text-align: center;
    color: white;
    padding: 3% 0;
}
.p-5{
    font-size: 1.5rem;
    color: white;
    padding-top: 4rem;
}
.p-6{
    padding-top: 3rem;
}
.p-7{
    font-size: 1.3rem;
    padding-top: 0.4rem;
}
.p-8{
    font-size: 1.3rem;
    padding-top: 2rem;
    color: white;
    text-align: center;
}
