.bigBox {
  margin: 20px auto;
  width: 320px;
}

.smallBox {
  margin: 1px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: darkorange;
}

.btn {
  margin: 0 auto;
  width: 320px;
}

.btn button {
  margin-top: 10px;
  width: 315px;
  height: 40px;
  color: darkorange;
  background-color: transparent;
  border: 1px solid darkorange;
  border-radius: 5px;
  cursor: pointer;
}

.btn button:hover {
  background-color: darkorange;
  color: white;
}