.技能树首页{ background:url("技能树首页.png") top left no-repeat; }
.技能树首页_r7_c13{ width:43px; height:62px; background-position:-10px -10px; }
.技能树首页_r6_c4{ width:52px; height:55px; background-position:-10px -82px; }
.技能树首页_r8_c9{ width:60px; height:48px; background-position:-10px -147px; }
.技能树首页_r14_c2{ width:30px; height:28px; background-position:-10px -205px; }
.技能树首页_r2_c10{ width:25px; height:24px; background-position:-10px -243px; }
.技能树首页_r3_c8{ width:25px; height:24px; background-position:-45px -243px; }
.技能树首页_r3_c5{ width:25px; height:24px; background-position:-10px -277px; }
.技能树首页_r12_c3{ width:13px; height:13px; background-position:-50px -205px; }

