html{
  font-size: 62.5%;
}
$primaryColor1: #29bde0;
$primaryColor2: #fbb435;
$primaryColor3: #83b09a;
$font-size1: 2.5rem;
$font-size2: 1.5rem;
@mixin display ($flex){
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.head-bar{
  position: fixed;
  width: 100%;
}
header{
  background-color: $primaryColor1;
  font-size: $font-size1;
  color: #ffffff;
  @include display(flex);
  justify-content: space-between;
  padding: 3%;
  img{
    width: 30px;
    height: 30px;
  }
}
.finish{
  background-color: lighten($primaryColor1,30%);
  font-size: $font-size2;
  padding: 2rem 5%;
  position: relative;
  img{
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 5%;
  }
}
.triangle{
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: lighten($primaryColor1,30%) transparent transparent transparent;
  width: 0;
  height: 0;
  float: left;
  margin-left: 3.5rem;
}
.explain{
  font-size: $font-size2;
  padding: 5% 0 5% 5%;
  color: #ffffff;
}
.main{
  background-color: $primaryColor1;
  padding: 25% 0;
}
.row{
  @include display(flex);
  justify-content: space-around;
}
.unit{
  &:hover .pics{
    opacity: 1;
  }
}
.square{
  width: 8.5rem;
  height: 8.5rem;
  border: 4px solid #ffffff;
  .identification{
    width: 100%;
    text-align: center;
    padding: 24% 0;
    background-color: $primaryColor2;
    font-size: $font-size1;
  }
  .number{
    width: 100%;
    text-align: center;
    padding: 6% 0;
    background-color: $primaryColor3;
    font-size: $font-size2;
    color: #ffffff;
  }
}
.pics{
  margin: 15% 0;
  @include display(flex);
  justify-content: space-between;
  opacity: 0;
}
.pic{
  background-color: #ffffff;
  display: inline-block;
  width: 1rem;
  padding: 3.5%;
  img{
    width: 1rem;
    height: 1rem;
  }
}

footer{
  width: 100%;
  background-color: $primaryColor1;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #c0c0c0;
  input{
    width: 60%;
    height: 4rem;
    background-color: $primaryColor2;
    border: none;
    font-size: $font-size1;
    color: #ffffff;
    float: left;
    margin: 2rem 20%;
  }
}